<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text">
            <h1>Chiliwa</h1>
            <spoun></spoun>
            <p>French painter and programmer who discover the world through is world</p>
            <p></p>
            <a href="/about" class="button">About</a>
            <a href="/work" class="button">Works</a>
            <a href="/contact" class="button">Contact</a>
            <reseau>
                <a href="https://www.instagram.com/chiliwax/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/chiliwax"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/thibault-lecointe-432687b8/"><i class="fab fa-linkedin"></i></a>
            </reseau>
        </div>

    </div>
</div>