<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text2">
            <a href="/" class="button button2">Back</a>
        </div>
        <div class="text">
            <h1>About</h1>
            <hr>
            
            <p class="article" style="margin-bottom: 0px; text-align:justify">
                Hello there ! <br><br>  
                I'm Thibault, a french guy of 28 years old. I'm in my last year of study in EPITECH french school. 
                I past the last one in Jonkoping University in sweden as an internationnal year. I followed two cursus there. 
                One in AI (Artificial inteligence) and an other as extra in UI/UX (User interface/experience design).
                <br> <br> Originaly I was an industrial designer. I decided to change to follow my passion for coding and blossom myself.
                I discovered many things I like and found a particular attract for making games ! I participated to many games-jam and improved
                my skills according to this kind of challenge each time.
                <br>
                <br> As a Hobby I like painting and hiking.
                <br>When I'm not on my computer you have many chance to find me outside climbing montains or painting somes warhammer minis !
            </p>
            {{!-- <h3>Study</h3> --}}
            <hr>
            <a href="/Download/CV.pdf" class="button" style="margin-top: 0px;">Download CV</a>
            <reseau>
                <a href="https://www.instagram.com/chiliwax/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/chiliwax"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/thibault-lecointe-432687b8/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:llecointe.thibault@gmail.com"><i class="fas fa-at"></i></a>
            </reseau>
        </div>

    </div>
</div>