<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text2">
            <a href="/" class="button button2">Back</a>
        </div>

    </div>
</div>