<link rel="image_src" href='/images/bunny.png'/>
<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text">
            <h1>Chiliwa</h1>
            <hr>
            <p>French painter and programmer who discover the world through his own !</p>
            <p></p>
            <a href="about/" class="button">About</a>
            <a href="work/" class="button">Works</a>
            <a href="painting/" class="button">Painting</a>
            <reseau>
                <a href="https://www.instagram.com/chiliwax/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/chiliwax"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/thibault-lecointe-432687b8/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:llecointe.thibault@gmail.com"><i class="fas fa-at"></i></a>
                
            </reseau>
        </div>

    </div>
</div>