<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="image_src" href='/images/bunny.png'/>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
  <div id="wrapper">
    {{{body}}}
    
  </div>
  <div class="foot">
  <p>© Chiliwa 2020</p>
  </div>
  
</body>

</html>