<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="/dist/css/glide.theme.min.css">
  <script src="/dist/glide.js"></script>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{!-- FACEBOOK SHARING --}}
  <meta property="og:url" content="https://www.chiliwa.me/" />
  <meta property="og:type" content="CV" />
  <meta property="og:title" content="Chiliwa_Website" />
  <meta property="og:image" content="https://chiliwa.me/images/bunny.png" />
  <meta property="og:image:secure_url" content="https://chiliwa.me/images/bunny.png" />
  <meta property="og:description" content="Discover_who_his_chiliwa" />
  <meta property="fb:app_id" content="981791588915837" />

</head>

<body>
  <div id="wrapper">
    {{{body}}}

  </div>
  <div class="foot">
    <p>© Chiliwa 2020</p>
  </div>

</body>

</html>