<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text2">
            <a href="/" class="button button2">Back</a>
        </div>
        <div class="text">
            <h1>Painting</h1>
            <hr>
            <p class="article" style="margin-bottom: 0px; text-align:justify">
                Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Nemo earum praesentium dicta saepe aspernatur
                cupiditate ipsa tenetur doloremque quisquam, dolor, nesciunt iure perspiciatis inventore voluptatibus?
                Et neque omnis iure inventore.
            </p>
            <reseau>
                <a href="https://www.instagram.com/chiliwax/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/chiliwax"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/thibault-lecointe-432687b8/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:llecointe.thibault@gmail.com"><i class="fas fa-at"></i></a>
            </reseau>
        </div>

    </div>
</div>