<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text2">
            <a href="/" class="button button2">Back</a>
        </div>
        <div class="text">
            <h1>Work</h1>
            <spoun></spoun>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo earum praesentium dicta saepe aspernatur
                cupiditate ipsa tenetur doloremque quisquam, dolor, nesciunt iure perspiciatis inventore voluptatibus?
                Et neque omnis iure inventore.</p>
        </div>

    </div>
</div>