<div class="home">
    <div class="image">
        <img src="/images/IMG_2630.jpeg" alt="chiliwa">
    </div>
    <div class="content">
        <div class="text2">
            <a href="/" class="button button2">Back</a>
        </div>
        <div class="text">
            <h1>Works</h1>
            <hr>
            <h2>Games Jams</h2>
            <p style="align-self:flex-start; text-align: initial; padding:20px; padding-top:0px; padding-bottom:0;">
                Ad-Herbis : Ludum dare 46 (2020) - UNITY<br>
                Impact-Jam : Impact-Jam (2019) - UNITY<br>
                Travel Into Darkness : School Jam (2019) - UNITY<br>
                La fugue : Global Game Jam (2019) - UNITY<br>
                
            </p>
            <hr>
            <a href="https://chiliwa.me/ld46/" style="margin-top: 0;" class="button live">Ad-Herbis</a>
            <a href="https://github.com/chiliwax/escape-discrimination" class="button source">Impact-Jam</a>
            <a href="https://github.com/chiliwax/Survivor" class="button source">T.I Darkness</a>
            <a href="https://github.com/chiliwax/Global-Game-Jam-2019" class="button source">La fugue</a>
            <hr>
            <h2>WebSites</h2>
            <p style="text-align: justify; padding:20px; padding-top:0px; padding-bottom:0;">Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Deleniti consequatur facilis, quaerat molestiae
                molestias modi ea quis quidem repudiandae exercitationem, itaque ratione perferendis laboriosam magni
                in, accusantium non est alias!</p>
            <hr>
            <a href="https://chiliwa.me/musicberry/" style="margin-top: 0;" class="button live">MusicBerry</a>
            <hr>
            <h2>Mobile Apps</h2>
            <p style="align-self:flex-start; text-align: initial; padding:20px; padding-top:0px; padding-bottom:0;">
                Alergen : Jonkkoping University - ReactNative<br>
                Alergen-API : Jonkkoping University - ReactNative<br>
                Text 2 Speech : Techinical test - ReactNative<br>
                
            </p>
            <hr>
            <a href="https://github.com/chiliwax/alergen" style="margin-top: 0;" class="button source">Alergen</a>
            <a href="https://github.com/chiliwax/alergen-API" class="button source">Alergen-API</a>
            <a href="https://github.com/chiliwax/TechTest" class="button source">Text 2 Speech</a>
            <reseau>
                <a href="https://www.instagram.com/chiliwax/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/chiliwax"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/thibault-lecointe-432687b8/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:llecointe.thibault@gmail.com"><i class="fas fa-at"></i></a>
            </reseau>
        </div>

    </div>
</div>