@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
@media screen and (max-width: 1680px)
  {
  body, input, select, textarea {
      font-size: 11pt;
  }
}
html {
  display: flex;
  justify-content: center;
  /* height:100; */
}
body {
  min-height:100%;
  background-color: #f4f4f4;
  color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.05em;
}

#wrapper{
  display: flex;
  align-items: center;
  padding: 3em;
  perspective: 1000px;
  height: 95%;
  justify-content: center;
  flex: 1;
    flex-direction: column;
}

.content{
  width: 50%;
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.image {
  width:50%;
  background-size: cover;
}
img{
  background-size: cover;
  min-height: 100%;
    width: 100%;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}



.home {
  display: flex;
  width: 75em;
  /* text-align: center; */
  justify-content: center;
  width: 55em;
  max-width: calc(100vw - 6em);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: row;
}
@media screen and (max-width: 970px) {
  body {
    width: 100%;
  }
  .home {
    flex-direction: column;
    border-radius: 25px;
    max-width: 100%;
  }
  .content {
    border-radius: 0px 0px 25px 25px;
    width: 100%;
    height: auto;
    padding:0px;
    flex-direction: column;
  }

  img {
    border-radius: 25px 25px 0px 0px;
  }

  .image {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
  }

  .home {
    background-color: white;
  }

  reseau {
    margin-bottom: 50px;
  }

  #wrapper {
    padding: 1em;
  }

  .text {
    padding: 1em;
    animation: none !important; 
  }
  .text2 {
    animation: none !important;
    margin-bottom: 20px;
  }

}


.text {
  display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    animation: fadein 2s;
    overflow: hidden;
}
.text2 {
  display: flex;
    justify-content: flex-start !important;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    /* text-align: -webkit-left; */
    align-items: flex-start;
    animation: fadein 1s;
}

h1 {
  font-size: 2em;
}

h1, h2, h3 {
  color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    /* margin: 0 0 1em 0; */
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

h2 {
  align-self: flex-start;
  padding-left: 20px;
}

hr {
    content: '';
    display: block;
    background-color: #cccccc;
    height: 1px;
    margin: 1.5rem 0 1.75rem 0;
    width: 50%;
    align-self: center;
    appearance: none;
}

.button {
  background-color: transparent; /* Green */
  border:none;
  border-radius: 8px;
  color: #555;
  box-shadow: inset 0 0 0 1px #cccccc;
  border-color: #444;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /* font-size: 16px; */
  margin-top: 1.5rem;
  transition-duration: 0.4s;
  font-size: 0.7em;
    /* font-weight: 500; */
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 2em;
    text-transform: uppercase;
    width:150px;
    
}

.button2{
  background-color: transparent; /* Green */
  border:none;
  border-radius: 8px;
  color: #555;
  box-shadow: inset 0 0 0 1px #cccccc;
  border-color: #444;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /* font-size: 16px; */
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  transition-duration: 0.4s;
  font-size: 0.7em;
    /* font-weight: 500; */
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 2em;
    text-transform: uppercase;
    width:50px;
}
.button:hover{
  color: rgb(109, 197, 255);
  box-shadow: inset 0 0 0 1px rgb(109, 197, 255);
  
}

reseau{
  margin-top: 50px;
  flex-direction: row;
}

i{
  margin: 5px;
  font-size: 25px;
  transition-duration: 0.4s;
}
a {
  text-decoration: none;
  color: #555;
}

i:hover{
  color:rgb(109, 197, 255);
}

.foot{
  color: rgb(196, 175, 175);
  text-align: center;
  height: 5%;
  justify-content: center;
}